
#container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5%;
    justify-content: center;
}

.sub-container1{
    border: 1px solid black;
    flex: 0 0 40%;
    height: 100%;
}

.sub-container2{
    border: 1px solid black;
    flex: 0 0 40%;
    /* height: 90%; */
}

.options{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
}

.input-number{
    width: 100%;
    margin: 0 25% 0 0;
}

.grade-label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 4px;
}

.create {
    width: 100%;
    margin: 0 80% 0 0;
}

.monster-div {
    display: flex;
    justify-content: space-between;
}